*.log.*
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
.idea/
.idea/*
whoosh_index/*
.templates/
.templates
venv/*
.vscode/
*/__pycache__/*

**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/migrations/
**/pics/**
*__pycache__*

*.pyc

db.sqlite3

*.DS_Store

media/
.
res/
