{% extends 'user-navbar.html' %}
{% load static %}
{% block content %}
    <div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <div class="dashbard-menu-overlay"></div>
    {% block manu %}
        <!-- content -->
        <div class="dashboard-content">
        <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
        <div class="container dasboard-container">
            <!-- dashboard-title -->
            <div class="dashboard-title fl-wrap">
                <div class="dashboard-title-item"><span>Your Listings</span></div>
                <div class="dashbard-menu-header">
                    <div class="dashbard-menu-avatar fl-wrap">
                        <img src="{{ user.image.url }}" alt="">
                        <h4>Welcome, <span>{{ user.username }}</span></h4>
                    </div>
                    <a href="index.html" class="log-out-btn   tolt" data-microtip-position="bottom"
                       data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                </div>
                <!--Tariff Plan menu-->
                <div class="tfp-det-container">
                    <div class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong></div>
                    <div class="tfp-det">
                        <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                        <a href="#" class="tfp-det-btn color-bg">Details</a>
                    </div>
                </div>
                <!--Tariff Plan menu end-->
            </div>
            <!-- dashboard-title end -->
            <div class="dasboard-wrapper fl-wrap">
                <div class="dasboard-listing-box fl-wrap">
                    <div class="dasboard-opt sl-opt fl-wrap">
                        <form method="get" action="{% url 'dashboard_list' %}" class="dashboard-search-form">
                            <div class="dashboard-search-listing">
                                <input type="text" name="search_query" placeholder="Search hare">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </div>
                        </form>

                        <a href="{% url 'add_listing' %}" class="gradient-bg dashboard-addnew_btn">Add New <i
                                class="fal fa-plus"></i></a>
                        <!-- price-opt-->
                        <div class="price-opt">
                            <span class="price-opt-title">Sort by:</span>
                            <div class="listsearch-input-item">
                                <form method="get" action="{% url 'dashboard_list' %}">
                                    <select name="sort_by" data-placeholder="Latest"
                                            class="chosen-select no-search-select" onchange="this.form.submit()">
                                        <option {% if selected_sort_option == 'latest' %} selected {% endif %}
                                                                                          value="latest">Latest
                                        </option>
                                        <option {% if selected_sort_option == 'oldes' %} selected {% endif %}
                                                                                         value="oldes">Oldest
                                        </option>
                                        {#                <option {% if selected_sort_option == 'average_rating' %} selected {% endif %} value="average_rating">Average rating</option>#}
                                        <option {% if selected_sort_option == 'name_az' %} selected {% endif %}
                                                                                           value="name_az">Name: A-Z
                                        </option>
                                        <option {% if selected_sort_option == 'name_za' %} selected {% endif %}
                                                                                           value="name_za">Name: Z-A
                                        </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <!-- price-opt end-->
                    </div>
                    <!-- dashboard-listings-wrap-->
                    <div class="dashboard-listings-wrap fl-wrap">
                        <div class="row">
                            {% for listing in object_list %}
                                <div class="col-md-6">
                                    <div class="dashboard-listings-item fl-wrap">

                                        <div class="dashboard-listings-item_img">
                                            <div class="bg-wrap">
                                                <div class="bg" data-bg="{{ listing.room_image.url }}"></div>
                                                {#                                                        <div class="bg" ><img src="{{ listing.room_image.url }}" alt="{{ room.name }}"></div>#}
                                            </div>
                                            <div class="overlay"></div>
                                            <a href="listing-single.html" class="color-bg">View</a>
                                        </div>
                                        <div class="dashboard-listings-item_content">
                                            <h4><a href="listing-single.html">{{ listing.title }}</a></h4>
                                            <div class="geodir-category-location">
                                                <a href="#"><i class="fas fa-map-marker-alt"></i>
                                                    <span>  {{ listing.address }}</span></a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="listing-rating card-popup-rainingvis tolt"
                                                 data-microtip-position="right" data-tooltip="Good"
                                                 data-starrating2="4"></div>
                                            <div class="dashboard-listings-item_opt">
                                                <span class="viewed-counter"><i
                                                        class="fas fa-eye"></i> Viewed -  645 </span>
                                                <ul>
                                                    {#                                                    {% for b in band %}#}

                                                    <li><a href="{% url 'listing_update' listing.id %}" class="tolt"
                                                           data-microtip-position="top-left"
                                                           data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                    {#                                                        {% endfor %}#}
                                                    <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                           data-tooltip="Disable"><i
                                                            class="far fa-signal-alt-slash"></i></a></li>
                                                    <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                           data-tooltip="Delete"><i class="far fa-trash-alt"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- dashboard-listings-wrap end-->
                </div>
                <!-- pagination-->
                {% if page_obj.has_other_pages %}
                    <div class="pagination float-pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="prevposts-link"><i
                                    class="fa fa-caret-left"></i></a>
                        {% endif %}
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <a href="#" class="current-page">{{ page_num }}</a>
                            {% else %}
                                <a href="?page={{ page_num }}">{{ page_num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="nextposts-link"><i
                                    class="fa fa-caret-right"></i></a>
                        {% endif %}
                    </div>
                {% endif %}

                <!-- pagination end-->
            </div>
        </div>
    {% endblock %}
{% endblock %}

