{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Homeradar - Real Estate Listing Template</title>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/dark-style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <style>
        .alert-danger {
            color: red;
        }

        .date-div {

        }

        .date-input {
            background-color: #282c3a00;
            height: 32px;
            width: 135px;
            color: #fff;
        }
    </style>

    {#    <div>#}
    {#        {% if messages %}#}
    {#            {% for message in messages %}#}
    {#                {% if message.tags %}#}
    {#                    <script>alert("{{ message }}")</script> {% endif %}#}
    {#            {% endfor %}#}
    {##}
    {#        {% endif %}#}
    {##}
    {#    </div>#}


</head>

<body>
<!--loader-->

<!--loader end-->
<!-- main -->
<div id="main">
    <!-- header -->
{% include 'navbar.html' %}
    <!-- header end  -->
    <!-- wrapper  -->
    <div id="wrapper">
    <!-- usermanu -->
        {% include 'user_manu.html' %}
     <!-- usermanu end  -->
        <div class="dashboard-content">
            <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
            <div class="container dasboard-container">
                <!-- dashboard-title -->
                <div class="dashboard-title fl-wrap">
                    <div class="dashboard-title-item"><span>Your Agents</span></div>
                    <div class="dashbard-menu-header">
                        <div class="dashbard-menu-avatar fl-wrap">
                            {% if user.image %}
                                <img src="{{ user.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/avatar/1.jpg' %}" alt="">
                            {% endif %}
                            <h4>Welcome, <span>{{ request.user.username }}</span></h4>
                        </div>
                        <a href="{% url 'logout' %}" class="log-out-btn   tolt" data-microtip-position="bottom"
                           data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                    </div>
                    <!--Tariff Plan menu-->
                    <div class="tfp-det-container">
                        <div class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong></div>
                        <div class="tfp-det">
                            <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                            <a href="#" class="tfp-det-btn color-bg">Details</a>
                        </div>
                    </div>
                    <!--Tariff Plan menu end-->
                </div>
                <!-- dashboard-title end -->
                <div class="dasboard-wrapper fl-wrap">
                    <div class="dasboard-listing-box fl-wrap">
                        <div class="dasboard-opt sl-opt fl-wrap">
                            <div class="dashboard-search-listing">
                                <input type="text" onclick="this.select()" placeholder="Search" value="">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </div>
                            <a href="#" class="gradient-bg dashboard-addnew_btn show-popup-form">Add New <i
                                    class="fal fa-plus"></i></a>
                            <!-- price-opt-->
                            <div class="price-opt">
                                <span class="price-opt-title">Sort   by:</span>
                                <div class="listsearch-input-item">
                                    <select data-placeholder="Lastes" class="chosen-select no-search-select">
                                        <option>Lastes</option>
                                        <option>Oldes</option>
                                        <option>Average rating</option>
                                        <option>Name: A-Z</option>
                                        <option>Name: Z-A</option>
                                    </select>
                                </div>
                            </div>
                            <!-- price-opt end-->
                            <div class="popup-form">
                                <div class="custom-form">
                                    <label>Name <span class="dec-icon"><i class="fas fa-user"></i></span></label>
                                    <input type="text" placeholder="Alica Noory" value=""/>
                                    <label>Email Address <span class="dec-icon"><i
                                            class="far fa-envelope"></i></span></label>
                                    <input type="text" placeholder="AlicaNoory@domain.com" value=""/>
                                    <label>Agent Link<span class="dec-icon"><i class="fal fa-link"></i></span></label>
                                    <input type="text" placeholder="homeradar.net/agent-alicanoory/" value=""/>
                                    <button type="submit" class="btn float-btn color-bg fw-btn"> Send</button>
                                </div>
                            </div>
                        </div>
                        <!-- dashboard-listings-wrap-->
                        <div class="dashboard-listings-wrap fl-wrap">
                            <div class="row">
                                {% for agent in object_list %}
                                    <!-- dashboard-listings-item-->
                                    <div class="col-md-4">
                                        <!--  agent card item -->

                                        <div class="listing-item">

                                            <article class="geodir-category-listing fl-wrap">
                                                <div class="geodir-category-img fl-wrap  agent_card">
                                                    <a href="#" class="geodir-category-img_item">
                                                        {% if agent.user.image %}
                                                        <img src="{{ agent.user.image.url }}" alt="">
                                                        {% endif %}
                                                    </a>
                                                    <div class="listing-rating card-popup-rainingvis"
                                                         data-starrating2="5"><span
                                                            class="re_stars-title">Excellent</span></div>
                                                </div>
                                                <div class="geodir-category-content fl-wrap">
                                                    <div class="card-verified tolt" data-microtip-position="left"
                                                         data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                                    <div class="agent_card-title fl-wrap">
                                                        <h4><a href="#">{{ agent.user.username }}</a>
                                                        </h4>
                                                        {#                                                            <h5><a href="agency-single.html">{{ agent.title|safe }}</a></h5>#}
                                                    </div>
                                                    <div class="agent-card-facts fl-wrap">
                                                        <ul>
                                                            <li>Listings<span>24</span></li>
                                                            <li>Reviews<span>18</span></li>
                                                            <li>Bookings<span>124</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="geodir-category-footer fl-wrap">
                                                        <a href="#" class="btn float-btn color-bg small-btn">View
                                                            Profile</a>
                                                        <a href="#" class="tolt ftr-btn" data-microtip-position="left"
                                                           data-tooltip="Delete"><i class="fal fa-trash"></i></a>
                                                        <a href="#" class="tolt ftr-btn" data-microtip-position="left"
                                                           data-tooltip="Verify"><i class="fal fa-user-check"></i></a>
                                                    </div>
                                                </div>
                                            </article>


                                        </div>

                                        <!--  agent card item end -->
                                    </div>
                                {% endfor %}

                                <!-- dashboard-listings-item end-->
                            </div>
                        </div>
                        <!-- dashboard-listings-wrap end-->
                    </div>
                    <!-- pagination-->
                    {% if page_obj.has_other_pages %}
                        <div class="pagination float-pagination">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" class="prevposts-link"><i
                                        class="fa fa-caret-left"></i></a>
                            {% endif %}
                            {% for page_num in page_obj.paginator.page_range %}
                                {% if page_obj.number == page_num %}
                                    <a href="#" class="current-page">{{ page_num }}</a>
                                {% else %}
                                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="nextposts-link"><i
                                        class="fa fa-caret-right"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}

                    <!-- pagination end-->
                </div>
            </div>
            <!-- dashboard-footer -->
            <div class="dashboard-footer">
                <div class="dashboard-footer-links fl-wrap">
                    <span>Helpfull Links:</span>
                    <ul>
                        <li><a href="about.html">About </a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="help.html">Help Center</a></li>
                    </ul>
                </div>
                <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
            </div>
            <!-- dashboard-footer end -->
        </div>
        <!-- content end -->
        <div class="dashbard-bg gray-bg"></div>
    </div>
    <!-- wrapper end -->
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>