{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Homeradar - Real Estate Listing Template</title>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/dark-style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
<div id="main">
    <!-- header -->
{% include 'navbar.html' %}
    <!-- header end  -->
    <!-- wrapper  -->
    <div id="wrapper">
        <!-- dashbard-menu-wrap -->
        {% include 'user_manu.html' %}
        <!-- dashbard-menu-end -->
        <!-- content -->
        <div class="dashboard-content">
            <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
            <div class="container dasboard-container">
                <!-- dashboard-title -->
                <div class="dashboard-title fl-wrap">
                    <div class="dashboard-title-item"><span>Bookings</span></div>
                    <div class="dashbard-menu-header">
                        <div class="dashbard-menu-avatar fl-wrap">
                            <img src="{{ user.image.url }}" alt="">
                            <h4>Welcome, <span>{{ user.username }}</span></h4>
                        </div>
                        <a href="index.html" class="log-out-btn   tolt" data-microtip-position="bottom"
                           data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                    </div>
                    <!--Tariff Plan menu-->
                    <div class="tfp-det-container">
                        <div class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong></div>
                        <div class="tfp-det">
                            <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                            <a href="#" class="tfp-det-btn color-bg">Details</a>
                        </div>
                    </div>
                    <!--Tariff Plan menu end-->
                </div>
                <!-- dashboard-title end -->
                <div class="dasboard-wrapper fl-wrap">
                    <div class="dasboard-widget-title fl-wrap">
                        <h5><i class="fal fa-comments-alt"></i>Last Bookings <span> ( +3 New ) </span></h5>
                        <a href="#" class="mark-btn  tolt" data-microtip-position="bottom"
                           data-tooltip="Mark all as read"><i class="far fa-comment-alt-check"></i> </a>
                    </div>
                    <div class="dasboard-widget-box fl-wrap">
                        <div class="dasboard-opt fl-wrap">
                            <!-- price-opt-->
                            <div class="price-opt">
                                <span class="price-opt-title">Sort   by:</span>
                                <div class="listsearch-input-item">
                                    <form method="get" action="{% url 'booking_listing' %}">
                                        <select data-placeholder="Lastes" class="chosen-select no-search-select">
                                            <option {% if selected_sort_option == 'latest' %} selected {% endif %}
                                                                                              value="latest">Latest
                                            </option>
                                            <option {% if selected_sort_option == 'oldes' %} selected {% endif %}
                                                                                             value="oldes">Oldest
                                            </option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <!-- price-opt end-->
                        </div>
                        <div class="row">
                            <!-- bookings-item -->
                            {% for book in bookings %}
                                <div class="col-md-6">
                                    <div class="bookings-item fl-wrap">
                                        <div class="bookings-item-header fl-wrap">
                                            <img src="{{ book.listing.room_image.url }}" alt="">
                                            <h4>For <a href="listing-single.html" target="_blank">{{ book }}</a></h4>
                                            <span class="new-bookmark">New</span>
                                        </div>
                                        <div class="bookings-item-content fl-wrap">
                                            <ul>
                                                <li>Name: <span>{{ book.name }}</span></li>
                                                <li>Phone: <span>{{ book.phone }}</span></li>
                                                <li>Date: <span>{{ book.created|date:"d. m. Y" }}</span></li>
                                                <li>Time: <span>{{ book.created|time:"h:i A" }}</span></li>
                                            </ul>
                                            <p>{{ book.listing.room_details }}</p>
                                        </div>
                                        <div class="bookings-item-footer fl-wrap">
                                            <span class="message-date">{{ book.created|date:"d M Y" }}</span>
                                            <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                       data-tooltip="Write"><i class="far fa-envelope"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                       data-tooltip="Call"><i class="far fa-phone"></i></a></li>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"
                                                       data-tooltip="Delete"><i class="far fa-trash"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- pagination-->
                    <!-- pagination-->
                    {% if page_obj.has_other_pages %}
                        <div class="pagination float-pagination">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" class="prevposts-link"><i
                                        class="fa fa-caret-left"></i></a>
                            {% endif %}
                            {% for page_num in page_obj.paginator.page_range %}
                                {% if page_obj.number == page_num %}
                                    <a href="#" class="current-page">{{ page_num }}</a>
                                {% else %}
                                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="nextposts-link"><i
                                        class="fa fa-caret-right"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}

                    <!-- pagination end-->
                </div>
            </div>
            <!-- dashboard-footer -->
            <div class="dashboard-footer">
                <div class="dashboard-footer-links fl-wrap">
                    <span>Helpfull Links:</span>
                    <ul>
                        <li><a href="{% url 'about' %}">About </a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
{#                        <li><a href="{% url 'contact' %}">Contacts</a></li>#}
{#                        <li><a href="{% url 'help' %}">Help Center</a></li>#}
                    </ul>
                </div>
                <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
            </div>
            <!-- dashboard-footer end -->
        </div>
        <!-- content end -->
        <div class="dashbard-bg gray-bg"></div>
    </div>
    <!-- wrapper end -->
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>