{% extends 'base.html' %}
{% block content %}

    {% load static %}
    <style>
        button {
            height: 30px;
            background: #3095e9;
            border: none;
            color: white;
            font-size: 1.25em;
            font-family: 'Nanum Gothic';
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            border: 2px solid black;
        }
    </style>

    <div id="wrapper">

        <!-- content -->
        <div class="content">

            <!--  section  -->
            <section class="hero-section hero-section_dec" data-scrollax-parent="true">
                {% for home in homepages %}

                    <div class="bg-wrap">
                        <div class="bg par-elem " data-bg="{{ home.image.url }}"
                             data-scrollax="properties: { translateY: '30%' }"></div>
                    </div>
                    <div class="overlay"></div>
                    <div class="container">


                        <div class="hero-title hero-title_small">


                            <h4> {{ home.title|safe }}</h4>

                            {#                            <h4>Real Estate Searching Platform</h4>#}
                            {#                            <h2>Find The House of Your Dream <br>#}
                            {#                                Using Our Platform#}
                            {#                            </h2>#}
                            <h2>{{ home.description|safe }}</h2>

                        </div>
                        <form method="get" action="{% url 'search_results' %}">
                            <div class="main-search-input-wrap">
                                <div class="main-search-input fl-wrap">
                                    <div class="main-search-input-item">
                                        <input type="text" placeholder="What are you looking for?" name="query"
                                               value="{{ query }}"/>
                                    </div>
                                    <div class="main-search-input-item">
                                        <select data-placeholder="All Categories" class="chosen-select no-search-select"
                                                name="type">
                                            {% for type in types %}
                                                <option value="{{ type.id }}">{{ type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="main-search-input-item">
                                        <select data-placeholder="All Categories" class="chosen-select" name="city">
                                            {% for city in cities %}
                                                <option value="{{ city.id }}">{{ city.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="main-search-button color-bg" type="submit">Search <i
                                            class="far fa-search"></i></button>
                                </div>
                            </div>
                        </form>

                        <div class="hero-notifer fl-wrap">Need more search options? <a href="listing.html">Advanced
                            Search</a></div>
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                            <span>Scroll Down To Discover</span>
                        </div>
                    </div>
                {% endfor %}

            </section>

            <!--  section  end-->
            <!-- breadcrumbs-->
            <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
                <div class="container">
                    <div class="breadcrumbs-list">
                        <a href="#">Home</a> <span>Home Image</span>
                    </div>
                    <div class="share-holder hid-share">
                        <a href="#" class="share-btn showshare sfcs"> <i class="fas fa-share-alt"></i> Share </a>
                        <div class="share-container  isShare"></div>
                    </div>
                </div>
            </div>
            <!-- breadcrumbs end -->
            <!-- section -->
            <section class="gray-bg small-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="section-title fl-wrap">
                                <h4>Browse Hot Offers</h4>
                                <h2>Latest Properties</h2>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="listing-filters gallery-filters">
                                <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*"> <span>All
                                            Categories</span></a>
                                <a href="#" class="gallery-filter" data-filter=".for_sale"> <span>For
                                            Sale</span></a>
                                <a href="#" class="gallery-filter" data-filter=".for_rent"> <span>For
                                            Rent</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- grid-item-holder-->
                    <div class="grid-item-holder gallery-items gisp fl-wrap">
                        {% for pro in property %}
                            <!-- gallery-item-->
                            <div class="gallery-item for_sale">

                                <!-- listing-item -->
                                <div class="listing-item">
                                    <article class="geodir-category-listing fl-wrap">
                                        <div class="geodir-category-img fl-wrap">
                                            <a href="#" class="geodir-category-img_item">
                                                <img src="{{ pro.room_image.url }}" alt="">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="geodir-category-location">
                                                <a href="#" class="single-map-item tolt" data-newlatitude="40.72956781"
                                                   data-newlongitude="-73.99726866" data-microtip-position="top-left"
                                                   data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i>
                                                    <span> {{ pro.address }}</span></a>
                                            </div>

                                            <ul class="list-single-opt_header_cat">
                                                <li><a href="#" class="cat-opt blue-bg">{{ pro.type|safe }}</a></li>
                                            </ul>

                                            <a href="#" class="geodir_save-btn tolt" data-microtip-position="left"
                                               data-tooltip="Save"><span><i class="fal fa-heart"></i></span></a>
                                            <a href="#" class="compare-btn tolt" data-microtip-position="left"
                                               data-tooltip="Compare"><span><i class="fal fa-random"></i></span></a>
                                            <div class="geodir-category-listing_media-list">
                                                <span><i class="fas fa-camera"></i> 8</span>
                                            </div>
                                        </div>
                                        <div class="geodir-category-content fl-wrap">
                                            <h3 class="title-sin_item"><a href="{% url 'single-listing' pro.slug %}"
                                                                          class="get_title_{{ pro.id }}">
                                                {{ pro.title|safe }}</a></h3>
                                            <div class="geodir-category-content_price">₹ {{ pro.price }}
                                            </div>
                                       <h6 style="color: white;">  {{ pro.room_details  }}</h6>
                                            <div class="geodir-category-content-details">
                                                <ul>
                                                    <li><i class="fal fa-bed"></i><span>{{ pro.bedrooms }}</span></li>
                                                    <li><i class="fal fa-bath"></i><span>{{ pro.bathrooms }}</span></li>
                                                    <li><i class="fal fa-cube"></i><span>{{ pro.area }}</span></li>
                                                </ul>
                                            </div>
                                            <div class="geodir-category-footer fl-wrap">
                                                <a href="agent-single.html" class="gcf-company">
                                                    <img src="
                                                            {% if pro.user.image %}{{ pro.user.image.url }}{% else %}{% static 'images/avatar/7.png' %}{% endif %}"
                                                         alt=""/><span
                                                >{{ pro.user.username }}</span>
                                                </a>

                                                {#                                                <button id="bookingBtn" data-id="{{ p.id }}">Booking</button>#}
                                                <button class="bookingBtn" data-id="{{ pro.id }}" style="margin-left: 60px;">Contact</button>

                                                <div class="listing-rating card-popup-rainingvis tolt"
                                                     data-microtip-position="top" data-tooltip="Good"
                                                     data-starrating2="4"></div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- listing-item end-->

                            </div>
                        {% endfor %}

                    </div>
                    <!-- grid-item-holder-->
                    <a href="listing.html" class="btn float-btn small-btn color-bg">View All Properties</a>
                </div>
            </section>
            <!-- section end-->
            <!-- section -->
            <section>
                <div class="container">
                    <!--about-wrap -->
                    <div class="about-wrap">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="about-title ab-hero fl-wrap">
                                    <h2>Why Choose Our Properties </h2>
                                    <h4>Check video presentation to find out more about us .</h4>
                                </div>
                                <div class="services-opions fl-wrap">
                                    <ul>
                                        {% for s in sports %}
                                            <li>
                                                {% if s.id == 1 %} <i class="fal fa-users-cog"></i> {% endif %}
                                                {% if s.id == 2 %}  <i class="fal fa-headset"></i>  {% endif %}
                                                {% if s.id == 3 %}  <i class="fal fa-phone-laptop"></i>  {% endif %}
                                                <h4>{{ s.title|safe }}</h4>
                                                <p>{{ s.description|truncatechars_html:100|safe }}</p>
                                            </li>
                                        {% endfor %}
                                        {#                                        <li>#}
                                        {#                                            <i class="fal fa-users-cog"></i>#}
                                        {#                                            <h4>User Admin Panel</h4>#}
                                        {#                                            <p>Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi#}
                                        {#                                                tincidunt. Curabitur convallis fringilla diam sed aliquam. </p>#}
                                        {#                                        </li>#}
                                        {#                                        <li>#}
                                        {#                                            <i class="fal fa-phone-laptop"></i>#}
                                        {#                                            <h4>Mobile Friendly</h4>#}
                                        {#                                            <p>Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis#}
                                        {#                                                massa faucibus feugiat. In fermentum facilisis massa.</p>#}
                                        {#                                        </li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div class="about-img fl-wrap">
                                    <img src="{% static 'images/img.png' %}" class="respimg" alt="">
                                    <div class="about-img-hotifer color-bg">
                                        <p>Your website is fully responsive so visitors can view your content from
                                            their choice of device.</p>
                                        <h4>Mark Antony</h4>
                                        <h5>Homeradar CEO</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- about-wrap end  -->
                </div>
            </section>
            <!-- section end-->
            <!-- section  -->
            <section class="hidden-section no-padding-section">
                <div class="half-carousel-wrap">
                    <div class="half-carousel-title color-bg">
                        <div class="half-carousel-title-item fl-wrap">
                            <h2>Explore Best Cities</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</h5>
                        </div>
                        <div class="pwh_bg"></div>
                    </div>
                    <div class="half-carousel-conatiner">
                        <div class="half-carousel fl-wrap full-height">
                            <!--slick-item -->
                            <div class="slick-item">
                                <div class="half-carousel-item fl-wrap">
                                    <div class="bg-wrap bg-parallax-wrap-gradien">
                                        <div class="bg" data-bg="{% static 'images/garden.jpg' %}"></div>
                                    </div>
                                    <div class="half-carousel-content">
                                        <div class="hc-counter color-bg">26 Properties</div>
                                        <h3><a href="listing.html">Explore NewYork</a></h3>
                                        <p>Constant care and attention to the patients makes good record</p>
                                    </div>
                                </div>
                            </div>
                            <!--slick-item end -->
                            <!--slick-item -->
                            <div class="slick-item">
                                <div class="half-carousel-item fl-wrap">
                                    <div class="bg-wrap bg-parallax-wrap-gradien">
                                        <div class="bg" data-bg="{% static 'images/images.jpeg' %}"></div>
                                    </div>
                                    <div class="half-carousel-content">
                                        <div class="hc-counter color-bg">89 Properties</div>
                                        <h3><a href="listing.html">Awesome London</a></h3>
                                        <p>Constant care and attention to the patients makes good record</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!--section end-->
            <!-- section -->
            <section>
                <div class="container">
                    <!-- section-title -->
                    <div class="section-title st-center fl-wrap">
                        <h4>The Best Agents</h4>
                        <h2>Meet Our Agents</h2>
                    </div>
                    <!-- section-title end -->
                    <div class="clearfix"></div>
                    <div class="listing-carousel-wrapper lc_hero carousel-wrap fl-wrap">
                        <div class="listing-carousel carousel ">
                            <!-- slick-slide-item -->
                            {% for agent in agents %}
                                <div class="slick-slide-item">

                                    <!--  agent card item -->
                                    <div class="listing-item">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img fl-wrap  agent_card">
                                                <a href="agent-single.html" class="geodir-category-img_item">
                                                    {% if agent.user.image %}
                                                        <img src="{{ agent.user.image.url }}" alt="">
                                                    {% endif %}
                                                    <ul class="list-single-opt_header_cat">
                                                        <li><span class="cat-opt color-bg">{{ listing}} listings</span></li>
                                                    </ul>
                                                </a>
                                                <div class="agent-card-social fl-wrap">
                                                    <ul>
                                                        <li><a href="#" target="_blank"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="#" target="_blank"><i
                                                                class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                                    <span class="re_stars-title">Excellent</span>
                                                </div>
                                            </div>
                                            <div class="geodir-category-content fl-wrap">
                                                <div class="card-verified tolt" data-microtip-position="left"
                                                     data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                                <div class="agent_card-title fl-wrap">
                                                    <h4><a href="#">{{ agent.user.username }}</a></h4>
                                                    <h5><a href="agency-single.html">{{ agent.title }}</a>
                                                    </h5>
                                                </div>
                                                <p>{{ agent.description|safe }}</p>
                                                <div class="geodir-category-footer fl-wrap">
                                                    <a href="agent-single.html"
                                                       class="btn float-btn color-bg small-btn">View Profile</a>
                                                    <a href="mailto:yourmail@email.com" class="tolt ftr-btn"
                                                       data-microtip-position="left" data-tooltip="Write Message"><i
                                                            class="fal fa-envelope"></i></a>
                                                    <a href="tel:123-456-7890" class="tolt ftr-btn"
                                                       data-microtip-position="left" data-tooltip="Call Now"><i
                                                            class="fal fa-phone"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                    <!--  agent card item end -->
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-prev lc-wbtn lc-wbtn_prev"><i class="far fa-angle-left"></i></div>
                        <div class="swiper-button-next lc-wbtn lc-wbtn_next"><i class="far fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section end-->
            <!-- section -->
            <section class="color-bg small-padding">
                <div class="container">
                    <div class="main-facts fl-wrap">
                        <!-- inline-facts  -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="578">0</div>
                                    </div>
                                </div>
                                <h6>Agents and Agencys</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->
                        <!-- inline-facts  -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="12168">0</div>
                                    </div>
                                </div>
                                <h6>Happy Customers Every Year</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->
                        <!-- inline-facts  -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="2172">0</div>
                                    </div>
                                </div>
                                <h6>Won Awards</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->
                        <!-- inline-facts  -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="732">0</div>
                                    </div>
                                </div>
                                <h6>New Listing Every Week</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->
                    </div>
                </div>
                <div class="svg-bg">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1600 900"
                         preserveAspectRatio="xMidYMax slice">
                        <defs>
                            <lineargradient id="bg">
                                <stop offset="0%" style="stop-color:rgba(255, 255, 255, 0.6)"></stop>
                                <stop offset="50%" style="stop-color:rgba(255, 255, 255, 0.1)"></stop>
                                <stop offset="100%" style="stop-color:rgba(255, 255, 255, 0.6)"></stop>
                            </lineargradient>
                            <path id="wave" stroke="url(#bg)" fill="none"
                                  d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
                                        s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z"/>
                        </defs>
                        <g>
                            <use xlink:href="#wave">
                                <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                                  dur="10s" calcMode="spline" values="270 230; -334 180; 270 230"
                                                  keyTimes="0; .5; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                                  repeatCount="indefinite"/>
                            </use>
                            <use xlink:href="#wave">
                                <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                                  dur="8s" calcMode="spline" values="-270 230;243 220;-270 230"
                                                  keyTimes="0; .6; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                                  repeatCount="indefinite"/>
                            </use>
                            <use xlink:href="#wave">
                                <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                                  dur="6s" calcMode="spline" values="0 230;-140 200;0 230"
                                                  keyTimes="0; .4; 1"
                                                  keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                                  repeatCount="indefinite"/>
                            </use>
                            <use xlink:href="#wave">
                                <animatetransform attributeName="transform" attributeType="XML" type="translate"
                                                  dur="12s" calcMode="spline" values="0 240;140 200;0 230"
                                                  keyTimes="0; .4; 1"
                                                  keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                                  repeatCount="indefinite"/>
                            </use>
                        </g>
                    </svg>
                </div>
            </section>
            <!-- section end-->
            <!-- section -->
            <section class="gray-bg ">
                <div class="container">
                    <div class="section-title st-center fl-wrap">
                        <h4>Testimonilas</h4>
                        <h2>What Our Clients Say</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="testimonials-slider-wrap">
                    <div class="testimonials-slider">
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="text-carousel-item fl-wrap">
                                <div class="text-carousel-item-header fl-wrap">
                                    <div class="popup-avatar"><img src="{% static 'images/avatar/1.jpg' %}" alt="">
                                    </div>
                                    <div class="review-owner fl-wrap">Jessie Wilcox</div>
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                </div>
                                <div class="text-carousel-content fl-wrap">
                                    <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis
                                        cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor
                                        sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod
                                        tincidunt ut laoreet dolore luptatum."</p>
                                    <a href="#" class="testim-link color-bg">Via Facebook</a>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="text-carousel-item fl-wrap">
                                <div class="text-carousel-item-header fl-wrap">
                                    <div class="popup-avatar"><img src="{% static 'images/avatar/1.jpg' %}" alt="">
                                    </div>
                                    <div class="review-owner fl-wrap">Austin Harisson</div>
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                </div>
                                <div class="text-carousel-content fl-wrap">
                                    <p> "Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                        qui blandit praesent luptatum zzril delenit augue duis dolore te odio
                                        dignissim qui blandit praesent blandit praesent luptatum zzril.Vulputate
                                        urna. Nulla tristique mi a massa convallis."</p>
                                    <a href="#" class="testim-link color-bg">Via Twitter</a>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="text-carousel-item fl-wrap">
                                <div class="text-carousel-item-header fl-wrap">
                                    <div class="popup-avatar"><img src="{% static 'images/avatar/1.jpg' %}" alt="">
                                    </div>
                                    <div class="review-owner fl-wrap">Garry Colonsi</div>
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                </div>
                                <div class="text-carousel-content fl-wrap">
                                    <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis
                                        cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor
                                        sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod
                                        tincidunt ut laoreet dolore luptatum."</p>
                                    <a href="#" class="testim-link color-bg">Via Facebook</a>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                        <!--slick-item -->
                        <div class="slick-item">
                            <div class="text-carousel-item fl-wrap">
                                <div class="text-carousel-item-header fl-wrap">
                                    <div class="popup-avatar"><img src="{% static 'images/avatar/1.jpg' %}" alt="">
                                    </div>
                                    <div class="review-owner fl-wrap">Antony Moore</div>
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                </div>
                                <div class="text-carousel-content fl-wrap">
                                    <p> "Feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                        qui blandit praesent luptatum zzril delenit augue duis dolore te odio
                                        dignissim qui blandit praesent blandit praesent luptatum zzril.Vulputate
                                        urna. Nulla tristique mi a massa convallis."</p>
                                    <a href="#" class="testim-link color-bg">Via Twitter</a>
                                </div>
                            </div>
                        </div>
                        <!--slick-item end -->
                    </div>
                </div>
            </section>
            <!-- section end-->
        </div>
        <!-- content end -->


    </div>



    <!-- Button trigger modal -->

    {#<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"#}
    {#     aria-hidden="true">#}
    {#    <div class="modal-dialog" role="document">#}
    {#        <div class="modal-content">#}
    {#            <div class="modal-header">#}
    {#                <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>#}
    {#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                    <span aria-hidden="true">&times;</span>#}
    {#                </button>#}
    {#            </div>#}
    {#            <div class="modal-body">#}
    <!-- Add your contact form code here -->
    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content w-75" style="background-color: #40B69E">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel4">fill details</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <form action="{% url 'create_book' %}" method="post" id="booking-form">
                        {% csrf_token %}
                        <input type="hidden" name="listing" value="" id="id">
                        <p>{{ listing.id }}</p>
                        <div class="form-outline mb-3">
                            <label class="form-label set_title" for="name"></label>
                        </div>

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="name" id="name" class="form-control" required/>
                            <label class="form-label" for="name">Name</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" name="phone" id="phone" class="form-control" required/>
                            <label class="form-label" for="phone">Phone</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="email" class="form-control" required/>
                            <label class="form-label" for="email">Email address</label>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="checkbox" checked/>
                            <label class="form-check-label" for="checkbox">
                                WhatsApp, SMS, phone, email
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}
{% endblock %}

{#<script>#}
{#$(function() {#}
{#  // Handle form submission#}
{#  $('#booking-form').submit(function(event) {#}
{#    // Prevent the form from submitting via the browser#}
{#    event.preventDefault();#}
{##}
{#    // Serialize the form data#}
{#    var formData = $(this).serialize();#}
{##}
{#    // Submit the form data via AJAX#}
{#    $.ajax({#}
{#      url: $(this).attr('action'),#}
{#      type: $(this).attr('method'),#}
{#      data: formData,#}
{#      success: function(data) {#}
{#        // Handle successful submission#}
{#          if (data.success) {#}
{#                alert('Booking  successfully.');#}
{#            }#}
{#          if(data.error === false) {#}
{#                alert('something  wrong.');#}
{#            }#}
{#      },#}
{#      error: function(xhr, status, error) {#}
{#        // Handle submission errors#}
{#        console.error('Error:', error);#}
{#      }#}
{#    });#}
{#  });#}
{#});#}
{#</script>#}
