{% load static %}
<!--loader-->

<div class="loader-wrap">
    <div class="loader-inner">
        <svg>
            <defs>
                <filter id="goo">
                    <fegaussianblur in="SourceGraphic" stdDeviation="2" result="blur"/>
                    <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2" result="gooey"/>
                    <fecomposite in="SourceGraphic" in2="gooey" operator="atop"/>
                </filter>
            </defs>
        </svg>
    </div>
</div>
<!--loader end-->

<header class="main-header">
    <!--  logo  -->
    <div class="logo-holder"><a href="{% url 'index' %}" class="load-data"><img src="{% static 'images/logo.png' %}" alt=""></a></div>
{# <a href="#" class="load-data">Load Data</a>#}

    <!-- logo end  -->
    <!-- nav-button-wrap-->
    <div class="nav-button-wrap color-bg nvminit">
        <div class="nav-button">
            <span></span><span></span><span></span>
        </div>
    </div>
    <!-- nav-button-wrap end-->
    <!-- header-search button  -->
    <div class="header-search-button">
        <i class="fal fa-search"></i>
        <span>Search...</span>
    </div>
    <!-- header-search button end  -->
    <!--  add new  btn -->
    <div class="add-list_wrap">
        <a href="{% url 'add_listing' %}" class="add-list color-bg"><i class="fal fa-plus"></i> <span>Add
                        Listing</span></a>
    </div>
    <!--  add new  btn end -->


    <!--  cart-btn   -->
    <div class="cart-btn  tolt show-header-modal" data-microtip-position="bottom"
         data-tooltip="Your Wishlist / Compare">
        <i class="fal fa-bell"></i>
        <span class="cart-btn_counter color-bg">5</span>
    </div>
    <!--  cart-btn end -->
    <!--  login btn -->
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">
        <div class="show-reg-form "> <i class="far fa-power-off"></i><span>Logout</span></div>
        </a>

    {% else %}
        <div class="show-reg-form modal-open"><i class="fas fa-user"></i><span>Sign In</span></div>
    {% endif %}
    <!--  login btn  end -->
    <!--  navigation -->
    <div class="nav-holder main-menu">
        <nav>

            <ul class="no-list-style">
                {% load mptt_tags %}

                    {% recursetree genres %}
                        <li>
                        <a href="#" class="">
                            {{ node.name }}{% if node.is_root_node %} <i class="fa fa-caret-down">   </i>{% endif %}
                        </a>

                        {% if not node.is_leaf_node %}
                            <!--second level -->

                            <ul class="">
                                {% for child in node.get_children %}
                                     {% if node.name == child.parent.name %}
                                    <li>
                                        {% url child.urls as child_url %}
                                        {% if child_url %}
                                            <a href="{{ child_url }}">{{ child.name }}</a>
                                        {% else %}
                                            {% comment %} Redirect to the index page if URL pattern is not found {% endcomment %}
                                            {% with 'not_fount' as index_url %}
                                                {% url index_url as url %}
                                                {% if url %}
                                                    <a href="{{ url }}">{{ child.name }}</a>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </li>
                                     {% endif %}
                                {% endfor %}
                            </ul>

                        {% endif %}
                        </li>
                    {% endrecursetree %}


{#                <li>#}
{#                    <a href="{% url 'blog' %}">News</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Pages <i class="fa fa-caret-down"></i></a>#}
{#                    <!--second level -->#}
{#                    <ul>#}
{#                        <li><a href="{% url 'about' %}">About</a></li>#}
{#                        <li><a href="contacts.html">Contacts</a></li>#}
{#                        <li><a href="help.html">Help FAQ</a></li>#}
{#                        <li><a href="pricing.html">Pricing </a></li>#}
{#                        <li><a href="{% url 'dashboard' %}">User Dashboard</a></li>#}
{#                        <li><a href="{% url 'single_blog' %}">Blog Single</a></li>#}
{#                        <li><a href="compare.html">Compare</a></li>#}
{#                        <li><a href="coming-soon.html">Coming Soon</a></li>#}
{#                        <li><a href="404.html">404</a></li>#}
{#                    </ul>#}
{#                    <!--second level end-->#}
{#                </li>#}
            </ul>
        </nav>
    </div>
    <!-- navigation  end -->
    <!-- header-search-wrapper -->
    <div class="header-search-wrapper novis_search">
        <div class="header-serach-menu">
            <div class="custom-switcher fl-wrap">
                <div class="fieldset fl-wrap">
                    <input type="radio" name="type" id="buy_sw" class="tariff-toggle" checked >
                    <label for="buy_sw">Sale</label>
                    <input type="radio" name="type" class="tariff-toggle" id="rent_sw">
                    <label for="rent_sw" class="lss_lb">Rent</label>
                    <span class="switch color-bg"></span>
                </div>
            </div>

        </div>
        <div class="custom-form">
  <form method="get" action="{% url 'search_results' %}">
    <label>Keywords</label>
    <input type="text" placeholder="Address, Street, State..." name="query" value="{{ request.GET.query }}">
    <label>Categories</label>
    <select name="category" data-placeholder="Categories" class="chosen-select on-radius no-search-select">
{#      <option value="">All Categories</option>#}
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <label style="margin-top:10px;">Price Range</label>
    <div class="price-rage-item fl-wrap">
        <input type="text" class="price-range" data-min="100" data-max="100000" name="price-range" data-step="1" value="50-100000" data-prefix="₹">

    </div>
    <button type="submit" class="btn float-btn color-bg"><i class="fal fa-search"></i> Search</button>
  </form>
</div>

    </div>
    <!-- header-search-wrapper end  -->
    <!-- wishlist-wrap-->
    <div class="header-modal novis_wishlist tabs-act">
        <ul class="tabs-menu fl-wrap no-list-style">
            <li class="current"><a href="#tab-wish"> Wishlist <span>- 3</span></a></li>
            <li><a href="#tab-compare"> Compare <span>- 2</span></a></li>
        </ul>
        <!--tabs -->
        <div class="tabs-container">
            <div class="tab">
                <!--tab -->
                <div id="tab-wish" class="tab-content first-tab">
                    <!-- header-modal-container-->
                    <div class="header-modal-container scrollbar-inner fl-wrap" data-simplebar>
                        <!--widget-posts-->
                        <div class="widget-posts  fl-wrap">
                            <ul class="no-list-style">
                                <li>
                                    <div class="widget-posts-img"><a href="listing-single.html"><img
                                            src="{% static 'images/all/small/1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="widget-posts-descr">
                                        <h4><a href="listing-single.html">Affordable Urban Room</a></h4>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                class="fas fa-map-marker-alt"></i> 40 Journal Square , NJ,
                                            USA</a></div>
                                        <div class="widget-posts-descr-price"><span>Price: </span> ₹ 1500 / per
                                            month
                                        </div>
                                        <div class="clear-wishlist"><i class="fal fa-trash-alt"></i></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-posts-img"><a href="listing-single.html"><img
                                            src="{% static 'images/all/small/1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="widget-posts-descr">
                                        <h4><a href="listing-single.html">Family House</a></h4>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                class="fas fa-map-marker-alt"></i> 34-42 Montgomery St , NY,
                                            USA</a></div>
                                        <div class="widget-posts-descr-price"><span>Price: </span> ₹ 50.000
                                        </div>
                                        <div class="clear-wishlist"><i class="fal fa-trash-alt"></i></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-posts-img"><a href="listing-single.html"><img
                                            src="{% static 'images/all/small/1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="widget-posts-descr">
                                        <h4><a href="listing-single.html">Apartment to Rent</a></h4>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                class="fas fa-map-marker-alt"></i>75 Prince St, NY, USA</a>
                                        </div>
                                        <div class="widget-posts-descr-price"><span>Price: </span> ₹100 / per
                                            night
                                        </div>
                                        <div class="clear-wishlist"><i class="fal fa-trash-alt"></i></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- widget-posts end-->
                    </div>
                    <!-- header-modal-container end-->
                    <div class="header-modal-top fl-wrap">
                        <div class="clear_wishlist color-bg"><i class="fal fa-trash-alt"></i> Clear all</div>
                    </div>
                </div>
                <!--tab end -->
                <!--tab -->
                <div class="tab">
                    <div id="tab-compare" class="tab-content">
                        <!-- header-modal-container-->
                        <div class="header-modal-container scrollbar-inner fl-wrap" data-simplebar>
                            <!--widget-posts-->
                            <div class="widget-posts  fl-wrap">
                                <ul class="no-list-style">
                                    <li>
                                        <div class="widget-posts-img"><a href="listing-single.html"><img
                                                src="{% static 'images/all/small/1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="widget-posts-descr">
                                            <h4><a href="listing-single.html">Gorgeous house for sale</a></h4>
                                            <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                    class="fas fa-map-marker-alt"></i> 70 Bright St New
                                                York, USA </a></div>
                                            <div class="widget-posts-descr-price"><span>Price: </span> ₹ 52
                                            </div>
                                            <div class="clear-wishlist"><i class="fal fa-trash-alt"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="widget-posts-img"><a href="listing-single.html"><img
                                                src="{% static 'images/all/small/1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="widget-posts-descr">
                                            <h4><a href="listing-single.html">Family Apartments</a></h4>
                                            <div class="geodir-category-location fl-wrap"><a href="#"><i
                                                    class="fas fa-map-marker-alt"></i> W 85th St, New York,
                                                USA </a></div>
                                            <div class="widget-posts-descr-price"><span>Price: </span> ₹ 72.400
                                            </div>
                                            <div class="clear-wishlist"><i class="fal fa-trash-alt"></i></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- widget-posts end-->
                        </div>
                        <!-- header-modal-container end-->
                        <div class="header-modal-top fl-wrap">
                            <a class="clear_wishlist color-bg" href="compare.html"><i class="fal fa-random"></i>
                                Compare</a>
                        </div>
                    </div>
                </div>
                <!--tab end -->
            </div>
            <!--tabs end -->
        </div>
    </div>
    <!--wishlist-wrap end -->
    <!--header-opt-modal-->
    <div class="header-opt-modal novis_header-mod">
        <div class="header-opt-modal-container hopmc_init">
            <div class="header-opt-modal-item lang-item fl-wrap">
                <h4>Language: <span>EN</span></h4>
                <div class="header-opt-modal-list fl-wrap">
                    <ul>
                        <li><a href="#" class="current-lan" data-lantext="EN">English</a></li>
                        <li><a href="#" data-lantext="FR">Franais</a></li>
                        <li><a href="#" data-lantext="ES">Espaol</a></li>
                        <li><a href="#" data-lantext="DE">Deutsch</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-opt-modal-item currency-item fl-wrap">
                <h4>Currency: <span>USD</span></h4>
                <div class="header-opt-modal-list fl-wrap">
                    <ul>
                        <li><a href="#" class="current-lan" data-lantext="USD">USD</a></li>
                        <li><a href="#" data-lantext="EUR">EUR</a></li>
                        <li><a href="#" data-lantext="GBP">GBP</a></li>
                        <li><a href="#" data-lantext="RUR">RUR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--header-opt-modal end -->
</header>



